<mat-tab-group>
  <mat-tab label="Financeiro">
    <br>
    <div>
      <table>
        <th>
          <mat-list>
            <mat-list-item>DESCRIÇÃO</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Despesa</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Receita</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Lucro (+)</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Prejuízo (-)</mat-list-item>
          </mat-list>
        </th>

        <th>
          <mat-list>
            <mat-list-item>TOTAL</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{relatorio.despesa | currency}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{relatorio.receita | currency}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{relatorio.lucro | currency}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{relatorio.prejuizo | currency}}</mat-list-item>
          </mat-list>
        </th>
      </table>
    </div>

  </mat-tab>

  <mat-tab label="Vendas">
    <br>

    <div>
        <mat-form-field style="margin-right: 20px;">
          <input [(ngModel)]="request.dataInicial" matInput [matDatepicker]="dataInicial" placeholder="Início">
          <mat-datepicker-toggle matSuffix [for]="dataInicial"></mat-datepicker-toggle>
          <mat-datepicker #dataInicial></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="margin-right: 20px;">
            <input [(ngModel)]="request.dataFinal" matInput [matDatepicker]="dataFinal" placeholder="Fim">
            <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
            <mat-datepicker #dataFinal></mat-datepicker>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="extrair(request)"> Gerar Relatório </button>

      </div>


      <br>

      <div>

          <table mat-table [dataSource]="relatorios">

            <ng-container matColumnDef="produto">
              <th mat-header-cell *matHeaderCellDef>PRODUTO</th>
              <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="quantidadeTotal">
              <th mat-header-cell *matHeaderCellDef>QTD VENDIDA</th>
              <td mat-cell *matCellDef="let element"> {{element.quantidadeTotal}} </td>
            </ng-container>

            <ng-container matColumnDef="vendasTotal">
                <th mat-header-cell *matHeaderCellDef> TOTAL </th>
                <td mat-cell *matCellDef="let element"> {{element.vendasTotal | currency}} </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>


  </mat-tab>
</mat-tab-group>
