<h1 mat-dialog-title *ngIf="!data.element">Adicionar Pedido</h1>
<h1 mat-dialog-title *ngIf="data.element">Editar Pedido</h1>


<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input [(ngModel)]="pedido.data" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

   <div>
      <mat-form-field>
        <mat-select placeholder="Cotação" [(ngModel)]="pedido.cotacao">
          <mat-option *ngFor="let option of cotacaoList" [value]="option">
            ID {{option.id}} - {{option.produto}} - {{option.quantidade}} Un
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="update(pedido)" *ngIf="data.element"> Salvar </button>
  <button mat-raised-button color="primary" (click)="adicionar()" *ngIf="!data.element"> Salvar </button>
</div>
