<h1 mat-dialog-title>Adicionar Pedido</h1>

<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input [(ngModel)]="pedido.data" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput (keyup)="findProdutoByName($event.target.value)" placeholder="Produto" required>
      <mat-hint *ngIf="!foundProduto">Produto Não Encontrado</mat-hint>
      <mat-hint *ngIf="foundProduto">Produto Encontrado</mat-hint>
    </mat-form-field>
  </div>


  <div>
    <mat-form-field>
      <mat-select placeholder="Fornecedor" [(ngModel)]="pedido.fornecedor">
        <mat-option *ngFor="let option of fornecedorList" [value]="option">
          {{option.nomeFantasia}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input [(ngModel)]="pedido.quantidade" matInput placeholder="Qtd" name="pedido.quantidade">
    </mat-form-field>
  </div>


</div>



<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="adicionar()"> Salvar </button>
</div>
