<div>
    <button mat-raised-button color="primary" (click)="openDialog(null)" style="margin-right: 20px">
        <mat-icon aria-hidden="false" aria-label="ADD icon">add</mat-icon>
    </button>
    <mat-form-field style="width: 30%;" appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>
</div>

<div>

    <table mat-table [dataSource]="orcamentoList">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>CLIENTE</th>
            <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="produto">
            <th mat-header-cell *matHeaderCellDef>PRODUTO</th>
            <td mat-cell *matCellDef="let element"> {{element.produto}} </td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef>QUANTIDADE</th>
            <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>DATA</th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>TOTAL</th>
            <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>