    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Username" [(ngModel)]="form.username" name="username"
            #username="ngModel" required>
          <button mat-button *ngIf="form.username" matSuffix mat-icon-button aria-label="Clear" (click)="form.username=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-form-field">
            <input matInput type="password" placeholder="Password" [(ngModel)]="form.password" name="password"
              #password="ngModel" required minlength="6">
            <button mat-button *ngIf="form.password" matSuffix mat-icon-button aria-label="Clear" (click)="form.password=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary"> Login </button>
      </div>
    </form>
    <hr />
    <a href="signup" class="btn btn-success">Sign Up</a>
