<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar color="warn" style="justify-content: center;">MIG</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="nav-link" routerLink="home" *ngIf="authority === 'user'">Home </a>
      <a mat-list-item class="nav-link" routerLink="user" *ngIf="authority === 'user'">Usuário</a>
      <a mat-list-item class="nav-link" routerLink="produto" *ngIf="authority === 'user'">Produtos</a>
      <a mat-list-item class="nav-link" routerLink="fornecedor" *ngIf="authority === 'user'">Fornecedor</a>
      <a mat-list-item class="nav-link" routerLink="pedido" *ngIf="authority === 'user'">Pedidos</a>
      <a mat-list-item class="nav-link" routerLink="venda" *ngIf="authority === 'user'">Venda</a>
      <a mat-list-item class="nav-link" routerLink="relatorio" *ngIf="authority === 'user'">Relatórios</a>
      <a mat-list-item class="nav-link" routerLink="auth/login" *ngIf="!authority" class="nav-item">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Migsoft <span class="toolbar-spacer"> </span>
      <button mat-raised-button color="warn" (click)="logout()"> Logout </button>
    </mat-toolbar>
    <mat-card style="margin: 20px;" class="mat-elevation-z8">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
