<h1 mat-dialog-title *ngIf="!data.element">Adicionar Venda</h1>
<h1 mat-dialog-title *ngIf="data.element">Editar Venda</h1>

<form [formGroup]='formularioOrcamento' #form="ngForm">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Produto</mat-label>
            <input matInput type="text" formControlName="produto" placeholder="Selecionar Produto"
                (click)="openDialogProduto()" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field appearance="outline">
            <mat-label>Cliente</mat-label>
            <input matInput type="text" formControlName="cliente" placeholder="Selecionar Cliente"
                (click)="openDialogCliente()" required>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field appearance="outline" style="width: 100px;">
            <mat-label>Qtd</mat-label>
            <input type='number' min="1" matInput placeholder="Qtd" formControlName="quantidade">
        </mat-form-field>
    </div>
</form>


<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="adicionar()" *ngIf="!data.element"> Salvar </button>
    <button mat-raised-button color="primary" (click)="update(orcamento)" *ngIf="data.element"> Atualizar </button>
</div>
