<h1 mat-dialog-title *ngIf="!data.element">Adicionar Formula</h1>
<h1 mat-dialog-title *ngIf="data.element">Editar Formula</h1>
<form [formGroup]="formProducao">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Produto</mat-label>
      <input [(ngModel)]="formula.produto" matInput placeholder="Produto" formControlName="produto" (click)="openDialogProduto()">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Material</mat-label>
      <input [(ngModel)]="formula.material" matInput placeholder="Material" formControlName="material">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input [(ngModel)]="formula.descricao" matInput placeholder="Descrição" formControlName="descricao">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 100px;" appearance="outline">
      <mat-label>Qtd</mat-label>
      <input type='number' min="1" [(ngModel)]="formula.quantidade" matInput placeholder="Qtd"
      formControlName="quantidade">
    </mat-form-field>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button [disabled]="!formProducao.valid" mat-raised-button color="primary" (click)="adicionar()" *ngIf="!data.element"> Salvar </button>
  <button [disabled]="!formProducao.valid" mat-raised-button color="primary" (click)="update(formula)" *ngIf="data.element"> Salvar </button>
</div>
