<div class="card-head" *ngIf="info.token">
  <h2 style="margin-left: 20px;">Bem vindo, {{info.username}}!</h2>
  <mat-divider></mat-divider>
</div>
<br>
<div class="grid-container">
  <h2 class="mat-h2">Dashboard</h2>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Lucro'">
          <div style="font-size: xxx-large; color: green;">{{relatorio.lucro | currency: 'BRL':true}}</div>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Prejuízo'">
          <div style="font-size: xxx-large; color: red;">{{relatorio.prejuizo | currency: 'BRL':true}}</div>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Vendas'">
          <div style="font-size: xxx-large;">{{relatorio.receita | currency: 'BRL':true}}</div>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Pedidos'">
          <div style="font-size: xxx-large;">{{relatorio.despesa | currency: 'BRL':true}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
