<h1 mat-dialog-title *ngIf="!data.element">Adicionar Cotação</h1>
<h1 mat-dialog-title *ngIf="data.element">Editar Cotação</h1>

  <div>
    <mat-form-field appearance="outline">
      <input [(ngModel)]="cotacao.data" matInput [matDatepicker]="picker" placeholder="Data"
        name="cotacao.data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div *ngIf="!data.element">
    <mat-form-field appearance="outline">
      <input matInput (keyup)="findProdutoByName($event.target.value)" placeholder="Produto" required>
    </mat-form-field>
  </div>
  <div *ngIf="!data.element">
    <mat-form-field appearance="outline">
      <mat-select placeholder="Fornecedor" [(ngModel)]="cotacao.fornecedor" name="cotacao.fornecedor">
        <mat-option *ngFor="let option of fornecedorList" [value]="option">
          {{option.nomeFantasia}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" style="width: 100px;">
      <input [(ngModel)]="cotacao.quantidade" matInput placeholder="Qtd" name="cotacao.quantidade">
    </mat-form-field>
  </div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="update(cotacao)" *ngIf="data.element"> Atualizar </button>
  <button mat-raised-button color="primary" (click)="adicionar()" *ngIf="!data.element"> Salvar </button>
</div>
